<header class="topbar">
  <div class="topbar-left">
    <span class="brand-text">Anvay</span>
    <span class="role-badge">Student</span>
  </div>

  <div class="topbar-right">
    <div class="noti-icon">
      <span class="material-icons">notifications_none</span>
      <span class="red-dot"></span>
    </div>

    <div class="profile-pill">
      <div class="user-info">
        <span class="role">STUDENT </span>
        <span class="name">{{ studentName }}</span>
      </div>
      <div class="avatar-box">
        <span class="material-icons">person</span>
      </div>
    </div>
  </div>
</header>