<aside class="sidebar">
  <div class="sidebar-header">
    <h1 class="logo">Anvay</h1>
    <span class="portal-tag">Student Portal</span>
  </div>

  <nav class="nav-links">
  <a routerLink="home" routerLinkActive="active-link" class="nav-item">
    <span class="material-icons">grid_view</span> Dashboard
  </a>
  <a routerLink="event-feed" routerLinkActive="active-link" class="nav-item">
    <span class="material-icons">calendar_today</span> Event Feed
  </a>
  <a routerLink="clubs" routerLinkActive="active-link" class="nav-item">
    <span class="material-icons">account_tree</span> Clubs
  </a>
  <a routerLink="leaderboard" routerLinkActive="active-link" class="nav-item">
    <span class="material-icons">emoji_events</span> Leaderboard
  </a>
  <a routerLink="profile" routerLinkActive="active-link" class="nav-item">
    <span class="material-icons">person_outline</span> Profile
  </a>
</nav>